In [1]:
a=2 ;  ## bit wise operations

In [2]:
a>>2   ## right shift operations

0

In [3]:
b = 10

In [4]:
b>>2 #1010

2

In [5]:
c = 2

In [6]:
c<<2 #10

8

In [7]:
d = 8; d<<2

32

In [8]:
e = 6; f = 2 #110 #010
e&f ## AND Operation

2

In [10]:
e|f ## OR Operation

6

In [9]:
e^f ###XOR Operation

4

### Identity Operators

In [29]:
a=0; b =0

In [30]:
id(a)

1805636298256

In [31]:
id(b)

1805636298736

In [12]:
a is b

True

In [20]:
a = 257 ; b = 257 ### 0 to 256 positive integers ---> same memory location afterwich differ

In [32]:
a is not b

True

In [16]:
a is b

False

### Membership operators

In [33]:
a=[1,2,"akhila", "Syed"]

In [34]:
"akhila" in a

True

In [35]:
3 in  a

False

In [36]:
3 not in a

True

### Data types

Mutable --> List, dictionaries , sets ;  
Immutable --> numbers, strings, tuples

In [39]:
string ="Akhila is a good girl" ; string1 ="I am bad"

In [41]:
string+string1 #Concatenation

'Akhila is a good girlI am bad'

In [42]:
# Repitition 
string*2

'Akhila is a good girlAkhila is a good girl'

In [46]:
# Slicing and indexing 
string[0:6]; string[-1]

'l'

In [48]:
# strip and slicing 
string.strip('l')

'Akhila is a good gir'

In [50]:
string.split()

['Akhila', 'is', 'a', 'good', 'girl']

In [51]:
string.find('is')

7

In [53]:
string.replace('is', 'are')

'Akhila are a good girl'

In [55]:
string.str.slice(start=4) ## works in pandas

AttributeError: 'str' object has no attribute 'str'

In [56]:
string.count('a')

2

In [57]:
string = string.replace('A','a')

In [59]:
string.replace('is','are')

'akhila are a good girl'

In [60]:
string.upper()

'AKHILA IS A GOOD GIRL'

In [61]:
string.lower()

'akhila is a good girl'

In [62]:
string.isupper()

False

In [64]:
string

'akhila is a good girl'

In [63]:
string.islower()

True

In [65]:
string.capitalize()

'Akhila is a good girl'

In [66]:
string.isalpha() ## checks for symbols - %$#@ space

False

In [68]:
string.isnumeric()

False

In [69]:
a = 'akhila'

In [70]:
a.isalpha()

True

In [71]:
a.zfill(10)

'0000akhila'

In [76]:
a.index('a') ### first occured

0

In [77]:
len(a)

6

#### tuples

In [79]:
tup1 = (1,2,3,4,3,3,3)

In [73]:
tup1[1]

2

In [74]:
tup1[1]=5 ## Immutable

TypeError: 'tuple' object does not support item assignment

In [75]:
tup1.index(2)

1

In [80]:
len(tup1)

7

In [81]:
tup1.count(3)

4

In [ ]:
### you cannot add or extend the elements in the tuple but can add two tuples & can store in a new tuple

In [82]:
list(tup1)

[1, 2, 3, 4, 3, 3, 3]

## LIST

In [87]:
#Mutable
num =[1,25,56,87]

In [88]:
len(num)

4

In [89]:
num.index(25)

1

In [90]:
25 in num

True

In [91]:
names = ['akhila','syed','aneela']

In [92]:
mix = [num,names]
mix

[[1, 25, 56, 87], ['akhila', 'syed', 'aneela']]

In [95]:
num.append(names)   ### cannot append two argument; argument can be a list/integer/tuple

In [99]:
num.append(tup1)

In [100]:
num

[1,
 25,
 56,
 87,
 ['akhila', 'syed', 'aneela'],
 ['akhila', 'syed', 'aneela'],
 ['akhila', 'syed', 'aneela'],
 5,
 (1, 2, 3, 4, 3, 3, 3)]

In [98]:
num.append(5,10)

TypeError: append() takes exactly one argument (2 given)

In [101]:
num.insert(2,67)

In [102]:
num

[1,
 25,
 67,
 56,
 87,
 ['akhila', 'syed', 'aneela'],
 ['akhila', 'syed', 'aneela'],
 ['akhila', 'syed', 'aneela'],
 5,
 (1, 2, 3, 4, 3, 3, 3)]

In [103]:
num.remove(25)

In [104]:
num

[1,
 67,
 56,
 87,
 ['akhila', 'syed', 'aneela'],
 ['akhila', 'syed', 'aneela'],
 ['akhila', 'syed', 'aneela'],
 5,
 (1, 2, 3, 4, 3, 3, 3)]

In [105]:
num.pop()

(1, 2, 3, 4, 3, 3, 3)

In [106]:
num.push(7)

AttributeError: 'list' object has no attribute 'push'

In [107]:
num.pop(4)# input argument - index

['akhila', 'syed', 'aneela']

In [108]:
num

[1, 67, 56, 87, ['akhila', 'syed', 'aneela'], ['akhila', 'syed', 'aneela'], 5]

In [109]:
del num

In [110]:
del names[2:]

In [111]:
names

['akhila', 'syed']

In [112]:
num # variable not defined --- NameError

NameError: name 'num' is not defined

In [113]:
num =[p,u,y,7]

NameError: name 'p' is not defined

In [114]:
num =[9,0,8,7]

In [116]:
num.extend([8,"",900])

In [117]:
num

[9, 0, 8, 7, 8, '', 900]

In [118]:
min(num)

TypeError: '<' not supported between instances of 'str' and 'int'

In [119]:
num.pop(-2)

''

In [120]:
num

[9, 0, 8, 7, 8, 900]

In [121]:
min(num)

0

In [122]:
sum(num)

932

In [123]:
num.sort(reverse =True)

In [124]:
num

[900, 9, 8, 8, 7, 0]

In [125]:
num.clear()
num

[]

In [ ]:
num.

In [126]:
names.reverse()

In [127]:
names

['syed', 'akhila']

In [128]:
names.sort()

In [130]:
names

['akhila', 'syed']

### Sets

In [131]:
a = {8,9,10,10,9,12,12}

In [132]:
a ### sets have collection of only unique elements

{8, 9, 10, 12}

#### removing duplicates from list easily is to conert into set

In [137]:
na =[7,8,9,0,0,9,8]
b =list(set(na))
b

[8, 9, 0, 7]

In [138]:
a[2] ## no slicing and indexing

TypeError: 'set' object is not subscriptable

In [139]:
a.discard(9)

In [141]:
a.add(56)

In [142]:
a ## No Sequence

{8, 10, 12, 56}

In [143]:
c = {8,12,14,16}

In [144]:
print(a|c) # union

{8, 10, 12, 14, 16, 56}

In [145]:
print(a&c) # Intersection

{8, 12}

In [146]:
print(a^c) # union of uncommon elements ~(A&C)

{10, 14, 16, 56}

In [148]:
a.isdisjoint(c)

False

In [150]:
a.update(c) # same as union

In [151]:
a

{8, 10, 12, 14, 16, 56}

### Dictionaries

In [152]:
data = {1:"akhila",2:"syed",4:"aneela"} #collection of key and values &  No indexing but possible with keys

In [155]:
data[3]

KeyError: 3

In [156]:
data[2]

'syed'

In [157]:
data.get(1)

'akhila'

In [158]:
data.get(3)

In [159]:
print(data.get(3))

None

In [163]:
data.get(3,"Not Found")

'Not Found'

In [161]:
data.get(6,"king")

'king'

In [162]:
data

{1: 'akhila', 2: 'syed', 4: 'aneela'}

In [164]:
keys = ["nasir","akhila","king"]
values = ["ds","ai","python"]

In [165]:
zip(keys, values) # memory location

In [171]:
lst = list(zip(keys, values))
lst

[('nasir', 'ds'), ('akhila', 'ai'), ('king', 'python')]

In [175]:
lst[0]

('nasir', 'ds')

In [177]:
lst[0][1]

'ds'

In [173]:
z=[]
for pair in lst:
    for item in pair:
        z.append(item)
z

['nasir', 'ds', 'akhila', 'ai', 'king', 'python']

In [174]:
z=[]
for i, j in lst:
    z.append(i)
    z.append(j)
z

['nasir', 'ds', 'akhila', 'ai', 'king', 'python']

In [170]:
tuple(zip(keys, values) )

(('nasir', 'ds'), ('akhila', 'ai'), ('king', 'python'))

In [167]:
final = dict(zip(keys, values)) # memory location
final

{'nasir': 'ds', 'akhila': 'ai', 'king': 'python'}

In [178]:
final.keys()

dict_keys(['nasir', 'akhila', 'king'])

In [179]:
final.values()

dict_values(['ds', 'ai', 'python'])

In [180]:
final["aneela"]

KeyError: 'aneela'

In [181]:
final["aneela"]="java"

In [186]:
final

{'nasir': 'ds', 'king': 10, 'aneela': 'java'}

In [183]:
final["king"]=10

In [185]:
del final["akhila"]